@{
    ViewData["Title"] = "News";
}

<h3 class="mb-3">Latest News</h3>

<div class="row g-2 mb-3">
    <div class="col-md-6">
        <input id="keyword" class="form-control" placeholder="Search title..." />
    </div>
    <div class="col-md-2">
        <button id="btnSearch" class="btn btn-primary w-100">Search</button>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>CreatedDate</th>
            <th>Status</th>
            <th class="text-center">Views</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id="tbNews"></tbody>
</table>
<div class="d-flex justify-content-between align-items-center mt-2">
    <div id="newsPagingInfo" class="text-muted"></div>

    <div class="d-flex gap-2">
        <button id="btnNewsPrev" class="btn btn-outline-secondary btn-sm">Prev</button>
        <button id="btnNewsNext" class="btn btn-outline-secondary btn-sm">Next</button>
    </div>
</div>
@section Scripts {
    <script src="~/js/public.news.js"></script>
}
